.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    margin-bottom: 50px;
    background-color:#f7f7f7;
    padding: 100px 30px;
    
}
.admin{
    border-radius: 50%;
}
.AboutMy{
    padding: 20px;
    display: grid;
    place-self: center;
}
.AboutMy > p{
    line-height: 30px;
    
    color: rgb(109, 101, 101);
    margin-top: 20px;
}
.largeImageContainer{
    display: grid;
    place-self: center;
}
@media screen and  (max-width:743px) {
 .container{
    padding: 30px 30px;
 }   
}